@using PersonalWeb.Models.Entity
@model Contact

@{
    ViewBag.Title = "Iletisim Sayfasi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <hr />
</div>

<table class="table table-striped table-advance table-hover table-bordered table-responsive">
    <tr>
        <th>Adres</th>
        <th>E-Mail</th>
        <th>Telefon</th>
        <th>Instagram</th>
        <th>Twitter</th>
        <th>Youtube</th>
        <th>Telegram</th>
        <th>Facebook</th>
        <th>Kayıt Tarihi</th>
        <th>Güncelleme Tarihi</th>
        <th>İşlem</th>
    </tr>

    <tr>
        <td>@Model.Adressess</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
        <td>@Model.Instagram</td>
        <td>@Model.Twitter</td>
        <td>@Model.Youtube</td>
        <td>@Model.Telegram</td>
        <td>@Model.Facebook</td>
        <td>@Model.CreatedOn</td>
        <td>@Model.ModifiedOn</td>
        <td><a href="/Contact/Edit/@Model.Id" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>Güncelle</a></td>
    </tr>
</table>
