@model PersonalWeb.Models.Entity.User

@{
    ViewBag.Title = "Profil Duzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">
        @using (Html.BeginForm("EditProfile", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="col-md-3">
                    <label>Resim</label>
                    <img src="~/images/user/@Model.ImageURL" class="img-circle img-responsive" width="128" height="128" />
                    @Html.HiddenFor(model => model.ImageURL)
                    <br /><br />
                    <input type="file" name="ImageURL" id="ImageURL" class="form-control" /><br />
                    <span class="glyphico glyphicon-info-sign">&nbsp;</span>
                    <span><i>Lütfen .png,.jpeg ya da .jpg formatı kullanın</i></span>
                </div>

                <div class="col-md-6">

                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })*@
                            <input type="password" name="Password" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Github, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Github, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>Güncelle</button>
                            <a href="/yonetimpaneli/profil" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span>İptal</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        }

    </div>
</div>

